.main-404 {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 800px;
  background-position: center;
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-404 {
  color: #fff;
  font-size: 90px;
  text-shadow: 2px 2px 2px black;
}

.nav-404 {
  background-color: transparent;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 40px;
  text-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}
.nav-404:hover {
  text-decoration: none;
  color: black;
  background-color: #ffffff;
  text-shadow: none;
}
